body {
  background: blanchedalmond;
}
/* Giving div classes something I can visualize */
* {
  border: 1px solid red;
  box-shadow: 1em;
  margin: 1em;
  background-color:aquamarine;
}

/* Start smol, work beeg */
.container {
  display:flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

/* media that shtuff */
@media (min-width: 600px) {
  .b, .c {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    max-width: 100%;
  }
  .b {
    width: 80%;
  }
  .c {
    width: 20%;
  }
}